header{
    text-align: center;
}

#name{
    font-size: 28pt;
}

.sectionTitle{
    font-size: 24pt;
    font-weight: bold;
}

.years{
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: -20px;
}

.bold{
    font-weight: bold;
}

.subsectionTitles{
    font-size: 16pt;
}

.minor{
    font-style: italic;
    margin-top: -20px;
}

.desc{
    margin-top: -15px;
}