header{
    text-align: center;
}

#name{
    font-size: 28pt;
}

.sectionTitle{
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.years{
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: -20px;
}

.bold{
    font-weight: bold;
}

.subsectionTitles{
    font-size: 16pt;
}

.minor{
    font-style: italic;
    margin-top: -20px;
}

.desc{
    margin-top: -15px;
}

.tabbedBody{
    margin-left: 50px;
}

body{
    margin: 75px;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #444;
      color: #e4e4e4;
    }
    a {
      color: #e39777;
    }
    img {
      filter: grayscale(30%);
    }
  }